@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  background: #000;
  color: #fff;
  font-family: 'Noto Sans Japanese',   sans-serif;
  font-size: small;
}

h1 {
  font-weight: normal;
  font-size: small;
}

.css-prop-demo .el {
  width: 60px;
  height: 60px;
  background: #800080;
}

.add {
    width: 125px;
    height: 200px;
}
