@charset "utf-8";

/*----------------------------------------------------------
	reset
-------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}*/
body {
	line-height: 1.5;
	font-family: Meiryo, Hiragino Kaku Gothic Pro, MS PGothic, Sans-Serif;
	background: url(../images/bg.jpg) repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
code {
	background:#FFD9EC;
}
/*----------------------------------------------------
	Font Sizing with REM
-----------------------------------------------------*/
html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem; } /* =14px */
h1   { font-size: 24px; font-size: 2.4rem; } /* =24px */
h2   { font-size: 18px; font-size: 1.8rem; } /* =18px */
h3   { font-size: 16px; font-size: 1.6rem; } /* =18px */

/*----------------------------------------------------
	link
-----------------------------------------------------*/
a:hover, a:active {
	color: #FF6600;
}
/*----------------------------------------------------
	clearfix
-----------------------------------------------------*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
/*----------------------------------------------------
	layout
-----------------------------------------------------*/
#wrapper {
	margin: 20px auto 0;
	width: 800px;
	padding:30px 50px;
	background: rgba(255, 255, 255, 0.5) ;
	position:relative;
}
/*----------------------------------------------------
	Module
-----------------------------------------------------*/
h1 {
	margin: 10px 0 30px;
	padding: 0 0 5px;
	border-bottom: 5px double #999;
}
h2 {
	margin: 20px 0 15px;
	padding: 5px 7px;
	border-left: 3px solid #FF9933;
}
h3 {
	margin: 30px 0 10px;
	padding: 5px;
	background: #E0E0E0;
}
h4 {
	margin-bottom: 5px;
	padding-top: 10px;
	border-bottom:1px dotted #CCC;
}
p {
	padding: 0 5px 10px;
}
ol {
	padding: 0 0 20px;
	list-style: inside decimal;
	line-height: 1.6;
}

/*3.アコーディオンメニュー*/
#accordion {
	width:200px;
	border:1px solid #CCC;
}
#accordion dt{
	padding: 5px;
	background: #CCC;
	border-bottom:1px solid #FFF;
	
}
#accordion dd a {
	display:block;
}
/*4.スライドパネル*/
.open {
	width:50px;
	padding: 10px;
	background:#66CC99;
	cursor: pointer;
}
#slideBox {
	display:none;
	padding: 10px;
	border: 1px solid #BFFFBF;
}

/*5.タブパネル*/
#tabs {
	width: 400px;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	overflow:hidden;
	zoom:1;
}
#tabs li {
	float: left;
	width: 100px;
}
#tabs a {
	display: block;
	padding: 3px;
	text-align: center;
	border-top:1px solid #CCC;
	border-right:1px solid #CCC;
}
.panel {
	width: 370px;
	padding: 15px;
	border:1px solid #CCC;
	border-top:0;
}
.selected {
	background: #CCC;
}

.photo {
	float: left;
	width: 400px;
}
/*9.カルーセル*/
#carouselWrap{
	margin:10px auto;
	width:470px;
	height:135px;
	padding:5px;
	border:1px solid #DBDBDB;
	position:relative;
}
#carouselPrev{
	position:absolute;
	top:65px;
	left:-13px;
	cursor:pointer;
}
#carouselNext{
	position:absolute;
	top:65px;
	right:-13px;
	cursor:pointer;
}
#carouse{
	width:100%;
	height:100%;
	overflow:hidden;
}
#carouselInner ul.column{
	width:455px;
	height:105px;
	padding:15px 0 15px 15px;
	list-style-type:none;
	float:left;
}
#carouselInner ul.column li{
	float:left;
	margin-right:10px;   
	display:inline; 
}
#carouselInner ul.column li img{
	border:none;
}



/*-------------back-top---------*/

#back-top {
	position:fixed;
	bottom: 0;
	right: 0;
}

#back-top a {
	width: 50px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 40px;
	display: block;
	margin-bottom: 7px;
	padding: 10px 0 0;
	background: rgba(195, 195, 195, 0.5) ;
	font-size: 20px;
	color:#000;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background: rgba(150, 150, 150, 1.0) ;
}
