.article_body_cv_link--blue {
  width: 600px;
  height: 100px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  line-height: 100px;
  background-color: #5fbbef;
  padding: 0 32px 0 20px;
  border: 3px solid #5fbbef;
  box-sizing: border-box;
  box-shadow: 0 2px 0 0 #529dc7;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.article_body {
  padding: 20px 39px 0;
  color: #000;
}
.article_body_txt {
  margin-bottom: 70px;
  line-height: 1.8;
  font-size: 16px;
}
.category-box {
  display: -webkit-box;
  display: flex;
  width: 658px;
  flex-wrap: wrap;
  margin: 0 auto 20px;
}
.category {
  margin: 0 auto 20px;
  width: 658px;
}
.category_item {
  float: left;
  margin-left: 20px;
  width: 206px;
}
.category_item:first-child {
  margin-left: 0;
}
.category_item_link {
  position: relative;
  display: block;
  padding: 8px 28px 7px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
}
.category_item_link:hover {
  opacity: 0.75;
}
.category_item_link::before,
.category_item_link::after {
  position: absolute;
  top: 50%;
  content: "";
}
.category_item_link::before {
  right: 5px;
  margin-top: -10px;
  width: 18px;
  height: 18px;
  background-color: #a3a9ae;
  border-radius: 9px;
}
.category_item_link::after {
  right: 6px;
  margin-top: -5px;
  border: 4px solid transparent;
  border-left-color: #fff;
  border-left-width: 6px;
}
.category_item_link_txt {
  position: relative;
  display: block;
  color: #444;
}
.category_item_link_txt::after {
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -10px;
  width: 12px;
  height: 18px;
  background: url("../images/common/ico_common.png") no-repeat 100% -3967px;
  content: "";
}
.category_item--tour .category_item_link_txt::after {
  left: -24px;
  width: 19px;
  height: 18px;
  background-position: 100% -4035px;
}
.category_item--air .category_item_link_txt::after {
  left: -24px;
  margin-top: -11px;
  width: 19px;
  height: 20px;
  background-position: 100% -4103px;
}
.category_item_txt_sub {
  display: block;
  padding-top: 3px;
}
.category_item_link_price {
  position: absolute;
  bottom: 4px;
  right: 28px;
  font-size: 14px;
  color: #f00;
}
.category_item_price_val {
  font: bold 18px Arial, Helvetica, sans-serif;
}
.category_item--long .category_item_link {
  padding-bottom: 4px;
}
.category_item--long .category_item_link_price {
  position: static;
  display: block;
  text-align: right;
}
.search {
  margin: 0 auto 45px;
  width: 658px;
  height: 118px;
  background-color: #fff;
  border: 2px solid #aaa;
  box-sizing: border-box;
}

.titlelist,
#main .titlelist {
  margin: 0 0 20px 0;
  padding: 0;
}
.titlelist li {
  border-bottom: 1px solid #cdcdcd;
  display: block;
  font-size: 1.1em;
  list-style: none;
  margin: 0;
  padding: 7px 5px;
}
.titlelist li::before {
  content: ""; /* 空の要素作成 */
}
.list,
#main .list {
  margin: 0 0 0 0;
  background: #fff;
}
.list li {
  font-size: 1.1em;
  margin: 0;
}
.list li::before {
  content: ""; /* 空の要素作成 */
}
.sns-area li::before {
  content: ""; /* 空の要素作成 */
}
.mm_must {
  background-color: #f36;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.mm_need {
  background-color: #f66;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.mm_consider {
  background-color: #f90;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.mm_clothes {
  background-color: #069;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.mm_flight {
  background-color: #06c;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.mm_householdgoods {
  background-color: #f99;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.mm_cosme {
  background-color: #f99;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.mm_sightseeing {
  background-color: #6c3;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.mm_baggage {
  background-color: #09c;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.mm_security {
  background-color: #666;
  padding: 1px 6px;
  margin-right: 10px;
  color: #fff;
}
.booklink-box,
.kaerebalink-box,
.tomarebalink-box,
.product-item-box {
  padding: 22px 25px;
  width: 96%;
  margin: 1.6em auto;
  border: 3px solid #dfdfdf;
  box-sizing: border-box;
  position: relative;
}
.booklink-image,
.kaerebalink-image,
.tomarebalink-image,
.product-item-thumb {
  width: 160px;
  min-width: 160px;
  margin: 0 auto 1em !important;
  float: none !important;
  text-align: center;
}
.booklink-image *,
.kaerebalink-image *,
.tomarebalink-image *,
.product-item-thumb * {
  display: block;
}
.booklink-image > a > img,
.kaerebalink-image > a > img,
.tomarebalink-image > a > img,
.product-item-thumb > a > img {
  margin: 0 auto;
}

.image-content {
  visibility: hidden;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  border: 1px solid #ddd;
  background-color: #f3f4f5;
  border-radius: 2px;
  transition: all 0.3s ease;
  opacity: 0;
}
.booklink-info,
.kaerebalink-info,
.tomarebalink-info,
.product-item-content {
  line-height: 125%;
  width: 100%;
}

.product-item-snippet {
  font-size: 0.8em;
  margin-top: 6px;
}

.booklink-powered-date,
.kaerebalink-powered-date,
.tomarebalink-powered-date {
  font-size: 12px;
}

.booklink-detail,
.kaerebalink-detail,
.tomarebalink-address {
  color: #333;
  font-size: 12px;
  margin: 0 0 10px;
}

.kaerebalink-link1 > *,
.booklink-link2 > *,
.tomarebalink-link1 > *,
.product-item-buttons > * {
  background: none !important;
  padding: 0 !important;
  display: block !important;
}
.kaerebalink-link1 a,
.booklink-link2 a,
.tomarebalink-link1 a,
.product-item-buttons a {
  width: 90%;
  display: block;
  margin: 0px auto 8px;
  padding: 10px 0;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.kaerebalink-link1 a:hover,
.booklink-link2 a:hover,
.tomarebalink-link1 a:hover,
.product-item-buttons a:hover {
  opacity: 0.6;
}

.product-item-buttons {
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .booklink-box,
  .kaerebalink-box,
  .tomarebalink-box,
  .product-item-box {
    text-align: left;
    display: flex;
    font-size: inherit !important;
  }

  .booklink-image,
  .kaerebalink-image,
  .tomarebalink-image,
  .product-item-thumb {
    vertical-align: top;
    box-sizing: border-box;
    min-width: auto !important;
  }

  .booklink-info,
  .kaerebalink-info,
  .tomarebalink-info,
  .product-item-content {
    line-height: 125%;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 25px;
    width: 100%;
  }

  .booklink-powered-date,
  .kaerebalink-powered-date,
  .tomarebalink-powered-date {
    margin: 6px 0 0;
  }

  .booklink-detail,
  .kaerebalink-detail {
    margin: 0 0 14px;
  }

  .booklink-link2,
  .kaerebalink-link1,
  .tomarebalink-link1,
  .product-item-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  .booklink-link2 a,
  .kaerebalink-link1 a,
  .tomarebalink-link1 a,
  .product-item-buttons a {
    width: auto;
    text-align: center;
    border-radius: 3px;
  }
  .booklink-link2 a img,
  .kaerebalink-link1 a img,
  .tomarebalink-link1 a img,
  .product-item-buttons a img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .booklink-link2 > *,
  .kaerebalink-link1 > *,
  .tomarebalink-link1 > *,
  .product-item-buttons > * {
    width: 31.5%;
    margin: 0.5%;
    box-sizing: border-box;
  }
}
.shoplinkamazon a {
  background: #f79901;
}

.shoplinkrakuten a {
  background: #bf0000;
}
.st-mybox {
  position: relative;
  margin: 25px 0;
  padding: 0 20px;
  border: solid 2px #9e9e9e;
  border-radius: 8px;
}
.st-in-mybox {
  padding: 40px 0;
}
.st-mybox .st-mybox-title {
  position: absolute;
  display: inline-block;
  top: -0.8em;
  left: 10px;
  padding: 0 10px;
  line-height: 1.5;
  color: #9e9e9e;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-pagetop.is-visible {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.footer-pagetop {
  position: fixed;
  bottom: 4%;
  right: 3%;
  z-index: 50;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: .4s;
  z-index: 200;
}
